html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #F5F2B7;
}

body {
    min-height: 100vh;
}


nav {
    background-color: #FFED9F;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
margin-top: 60px;
margin-bottom: 60px;
color: #FFB28F;
}

form {
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 5px;
    background-color: #B9E4B4;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 0;
}

.custom-file-upload:hover {
    background-color: #555;
}

.file-name {
    margin-left: 0;
    font-size: 16px;
    color: #333;
    display: inline;
    margin-right: 70px;
}


button {
background-color: #BAE5B6;
color: #FFEDE6;
font-size: 20px;
border-radius: 5px;
padding: 5px 5px;
margin-left: 30px;
border-color: #B9E4B4;
}

button:hover {
background-color:#A2C89E ;
}

.header-name {
    font-size: 24px;
    color: #FFFDE6;
}

.header-date {
    font-size: 20px;
    color: #FFFDE6;
}


.container {
    flex: 1;
    margin-top: 70px;
    padding: 20px;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.image-preview {
    flex: 1;
    padding-right: 10px;
}

.image-preview img {
    max-height: 450px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.table-container {
    flex: 1;
    padding-left: 10px;
    padding-top: 20px;
}

.table-container table {
    border-collapse: separate;
    border-spacing; 10px;
    width: 100%;
}

.table-container th .table-container td {
    padding: 10px;
    text-align: left;
}

.table-container th {
    background-color: #FFED9F;
}

.upload-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 50%;
    background-color: #f9f9f9;
}

.upload-container input[type="file"] {
    display: block;
    margin: 0 auto 10px auto;
    padding: 10px;
}

.upload-container button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.upload-container button:hover {
    background-color: #555;
}

.color-results {
    margin-top: 20px;
}

.color-results ul {
    list-style: none;
    padding: 0;
}

.color-results li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.color-box {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
    .upload-container {
        width: 80%;
    }
}

h2 {
color: #FFB28F;
font-size: 40px;
margin-top: 60px;
margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    width: 100%;
    position: relative;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

footer p {
    margin: 0;
    font-size: 14px;
}



